{% extends 'br/br_base.html' %}
{% block title %}Sign page{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}
{% crispy form %}

{% block content %}
<div style="background: url(../../static/images/join_doner.jpg);background-repeat:no-repeat;background-size:cover;height:100vh">
    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col-md-5 offset-md-3">
                <div class="card my-3 p-2 shadow" style="border-radius: 10px;">
                    <div class="card-body">
                        <h4 style="text-align: center;">Sign Up Form</h4>
                        <hr>
                        <form action="" method="POST">
                            {% csrf_token %}
                           
    
                                {% for field in form %}
                               
                                    {{ field|as_crispy_field }}
                                
                                {% endfor %}
                            
    
    
                            <div class="d-grid gap-2 d-md-block">
                                <input type="submit" name="" id="" class="btn btn-primary btn-block" value="Sign Up">
                            </div>
                        </form>
    
                    </div>
                    <a href="#" class="mt-2 mx-auto">
                        <h6>Forget password ? </h6>
                    </a>
                    <div class="t my-2 mx-auto" style="display: flex;">
    
                        <h6>If you have already account ?</h6> <a class="ml-2" href="{% url 'login' %}">Login</a>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}